  <div id="loader">
    <div class="boot-messages">
      <pre class="message">Loading BIOS...</pre>
      <pre class="message">[   <span class="ok-message">OK</span>   ] BIOS initialized successfully.</pre>
      <pre class="message">Loading bootloader...</pre>
      <pre class="message">[   <span class="ok-message">OK</span>   ] Bootloader loaded successfully.</pre>
      <pre class="message">Loading kernel...</pre>
      <pre class="message">[   <span class="ok-message">OK</span>   ] Kernel loaded successfully.</pre>
      <pre class="message">Mounting root filesystem...</pre>
      <pre class="message">[   <span class="ok-message">OK</span>   ] Root filesystem mounted successfully.</pre>
      <pre class="message">Configuring network...</pre>
      <pre class="message">[   <span class="ok-message">OK</span>   ] Network configured.</pre>
      <pre class="message">Starting system services...</pre>
      <pre class="message">[   <span class="ok-message">OK</span>   ] SSH server started.</pre>
      <pre class="message">[   <span class="ok-message">OK</span>   ] Web server started.</pre>
      <pre class="message">[   <span class="ok-message">OK</span>   ] Welcome to { serafincpd } OS (v1.0).</pre>
      <pre class="message msg-loading-gui">Loading GUI... Please Wait...</pre>
    </div>
    <div class="loading-dots">
      <span class="dot">.</span>
      <span class="dot">.</span>
      <span class="dot">.</span>
      <span class="dot">.</span>
      <span class="dot">.</span>
    </div>
  </div>
